[submodule "tmux/vendor/jimeh-tmux-themepack"]
	path = tmux/vendor/jimeh-tmux-themepack
	url = https://github.com/jimeh/tmux-themepack.git
[submodule "/home/seth/.config/nvim"]
	path = /home/seth/.config/nvim
	url = git@github.com:sethwoodworth/config-neovim.git
