[submodule "tmux/vendor/jimeh-tmux-themepack"]
	path = tmux/vendor/jimeh-tmux-themepack
	url = https://github.com/jimeh/tmux-themepack.git
[submodule "nvim"]
	path = nvim
	url = git@github.com:sethwoodworth/config-neovim.git
[submodule "tmux/plugins/tpm"]
	path = tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
