[submodule "nvim"]
	path = nvim
	url = git@github.com:sethwoodworth/config-neovim.git
[submodule "base16-shell"]
	path = base16-shell
	url = https://github.com/chriskempson/base16-shell.git
[submodule "base16-gnome-terminal"]
	path = base16-gnome-terminal
	url = git@github.com:chriskempson/base16-gnome-terminal.git
